.formbox{
  background-color:azure;
  width:50em;
  height:45em;
  padding:2em ;
  position:fixed
}

.container{
  display: block;
}
.inputA{
  display: block;
  float:left;
  padding:10px;
  margin-top: 2em;
  margin-left:-154px; 
}
.inputB{
  
  display: block;
  float:left;
  padding:10px;
  margin-top: 8em;
  margin-left:-273px; 
}
.inputC{
  
  display: block;
  float:left;
  padding:10px;
  margin-top: 14em;
  margin-left:-273px; 
}
.inputD{
  
  display: block;
  float:left;
 width:30em;
  margin-top: 24em;
  margin-left:-273px; 
}